/* None essential css */

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 65em;
	background: rgb(0,57,69);
	color: rgb(131, 149,151);
	font-family: sans-serif;
}

h1, h2, h3, {
	color: rgb(147, 162, 162);	
}

li {
	color: rgb(181, 137, 30);
}

li a {
	color: rgb(181, 137, 30);
}

a {
	color: rgb(38, 163, 152);
	text-decoration: none;
}

.site-title {
	font-family: Georgia, serif;
	margin-top: 0;
	
}

.ocm-main-menu h1 {
	font-size: 100%;
}

#ocm-page-wrapper {
	padding: 2em;
}

@media screen and (min-width: 0) and (max-width: 40em) {
	
	.js .ocm-main-menu {
		background: rgb(0,43,53);
		padding: 2em;	
	}	
}