/*------------------------------------*\
    The css in this file is essential to 
    the opertaion of the menu.
\*------------------------------------*/	
/* A div that should wrap everything you want to shift when the menu comes inot view */
#ocm-page-wrapper {
	position: relative;
	width: 100%;
	left: 0;
	transition: position, .3s; 
}

/* Hide and reveal if js is available */
.ocm-open-btn,
.ocm-close-btn {
	display: none;
}

/* These styles push the nav tag off canvas and show it when the .active-menu class is added to the body by jQuery.  */
@media screen and (min-width: 0) and (max-width: 40em) {

	.js .ocm-main-menu {
		position:absolute;
		height: 100%;
		width: 70%;
		left: -70%;
		top: 0;
		background: #f0f0f0;
	}
	
	.is_active-ocm #ocm-page-wrapper {
		left: 70%;
	}
	
	.js .ocm-open-btn,
	.js .ocm-close-btn {
		display:inline;
	}
	
	.ocm-page-close {
		cursor: pointer;
	}
}