/*------------------------------------*\
    The css in this file is essential to 
    the opertaion of the menu.
\*------------------------------------*/	
/* A div that should wrap everything you want to shift when the menu comes inot view */
#page-wrapper {
	position: relative;
	width: 100%;
	left: 0;
	transition: position, .3s; 
}

/* Hide and reveal if js is available */
.close-menu,
.open-menu {
	display: none;
}

/* These styles push the nav tag off canvas and show it when the .active-menu class is added to the body by jQuery.  */
@media screen and (min-width: 0) and (max-width: 40em) {

	.js .main-menu {
		position:absolute;
		height: 100%;
		width: 70%;
		left: -70%;
		top: 0;
		background: #f0f0f0;
	}
	
	.js .active-menu #page-wrapper {
		left: 70%;
	}
	
	.js .close-menu,
	.js .open-menu {
		display:inline;
	}
	
}

/* Hide the open/close links past your choosen breakpoint  */
@media screen and (min-width: 40.0625em) {
	

.click-to-close {
	cursor: pointer;
}